.contenedor {
    background-color: gray;
}
.search {
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
    
}

.boton {
    background-color: gray;
    border-color: green;
    color: green;
    padding: 8px;
    border-radius: 3px;
    box-shadow: none;
}